<h1>Login</h1>

<form action="" id="loginForm">
    <label for="">Usuario</label>
    <input type="email" name="email">

    <label for="">Contraseña</label>
    <input type="password" name="password">

    <button type="submit">Iniciar Sesion</button>

</form>

<script src="/js/login.js"></script>