<h1>Registro</h1>

<form action="" id="signupForm">
    <label for="">Nombre</label>
    <input type="text" name="first_name">

    <label for="">Apellido</label>
    <input type="text" name="last_name">

    <label for="">Edad</label>
    <input type="number" name="age">

    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Contraseña</label>
    <input type="password" name="password">

    <button type="submit">Crear usuario</button>

</form>

<p>¿Ya tenes cuenta? Ingresa acá: <a href="localhost:8080/api/login">Inicia Sesión</a> </p> {{!-- Este link está de prueba y para mayor facilidad --}}

<script src="/js/signup.js"></script>